<tr>
    <th scope="row"><%= number %> </th>
    <td><%= car.name %> </td>
    <td><%= car.category %> </td>
    <td><%= car.price %> </td>
    <td><%= car.startRent %> </td>
    <td><%= car.finishRent %> </td>
    <td><%= car.createdAt %> </td>
    <td><%= car.updatedAt %> </td>
</tr>